<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Kees"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.AddNewBasketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ResetPasswordOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ResetPasswordPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CustomerPastOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FinishedOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.driver.fragments.OrderDetailsFragment"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DriverHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DriverLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UserTypeLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MyProfileDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UpdateProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_update_profile"
            android:theme="@style/Theme.Kees" />
        <activity
            android:name=".ui.activities.ChangeLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_change_location"
            android:theme="@style/Theme.Kees" />
        <activity
            android:name=".ui.activities.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.collector.activities.CollectorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CheckUpChooseLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OrderDetails"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddNewLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChangePhoneNumber"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChangePersonalData"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PrivacyPoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChooseOrderReceiveTime"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAc5mnhq3A6E66DrTw2zQbrmv1W-jhH5Mg" />

        <activity
            android:name=".ui.activities.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ui.activities.ChooseLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UserDataRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SecondCreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChooseLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />
    </application>

</manifest>